SyncAppGUI/Connected Services/ServiceReference1/WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfpathGridMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pathGridMember" nillable="true" type="tns:pathGridMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpathGridMember" nillable="true" type="tns:ArrayOfpathGridMember" />
  <xs:complexType name="pathGridMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoSync" type="xs:boolean" />
      <xs:element minOccurs="0" name="SFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SyncType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pathGridMember" nillable="true" type="tns:pathGridMember" />
</xs:schema>